@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../variables.scss';

/*
 * Base styles
 * ========================================================================== */

h1, h2, h3, h4, h5, h6, button {
  font-family: $font-family-headings;
}

h1 {
  font-size: 48px;
}

p {
  font-family: $font-family-base;
  font-size: 16px;
}

body {
  background: $light-blue3;
}

button.btn-primary {
  background: none;
  border: 0;
  border-bottom: 2px solid $dark-blue;
  font-family: 100;
  color: $dark-blue;
  text-transform: uppercase;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus {
  color: white;
  background: $dark-blue;
}

.navbar-inverse.navbar {
  background: $dark-blue;
  border-color: $dark-blue;
  color: white;
  .navbar-brand {
    color: white;
  }
}
