@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../variables.scss';
@import '../preloader.scss';

/*
 * Base styles
 * ========================================================================== */

h1, h2, h3, h4, h5, h6, button {
  font-family: $font-family-headings;
}

h1 {
  font-size: 48px;
}

p {
  font-family: $font-family-base;
  font-size: 16px;
}

button.btn-primary {
  background: none;
  border: 0;
  border-bottom: 2px solid $dark-blue;
  font-family: 100;
  color: $dark-blue;
  text-transform: uppercase;
  border-radius: 2px;
}

button.btn-primary:hover {
  border-radius: 3px;
}


button.btn-back.btn-primary:hover {
  background: black;
}

button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus {
  color: white;
  background: $dark-blue;
}

.navbar-inverse.navbar {
  background: $dark-blue;
  border: 0;
  color: white;
  .navbar-brand {
    color: white;
    font-family: $font-family-headings;
    font-size: 20px;
  }
}

.img-option {
  .overlay {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;

    .uncheckIcon {
      color: rgba(0, 0, 0, 0.2);
    }

    .checkIcon {
      color: transparent;
    }

    .option-text {
      color: black;
      font-weight: 800;
    }
  }
}

.img-option.active {
  .overlay {
    background: rgba(10, 24, 41, 0.7);

    .uncheckIcon {
      color: transparent;
    }

    .checkIcon {
      color: white;
    }

    .option-text {
      color: white;
    }
  }
}

.img-option.active .overlay:hover {
  .checkIcon {
    color: white;
  }

  .uncheckIcon {
    color: transparent;
  }
}


.img-option .overlay:hover {
  .uncheckIcon {
    color: transparent;
  }

  .checkIcon {
    color: rgba(0, 0, 0, 0.6);
  }
}
