/*
 * Colors
 * ========================================================================== */

$dark-blue:                  #0A1829;
$light-brown:                #F6EDD3;
$light-blue:                 #588E95;
$light-blue2:                #7FADA9;
$light-blue3:                #ECFFFF;

/*
 * Typography
 * ========================================================================== */

$font-family-headings:      'Raleway', sans-serif;
$font-family-base:      'Open Sans', 'Raleway', sans-serif;
